<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="checkout_details_area mt-50 clearfix">
          <div class="cart-title">
            <h2>Votre profil</h2>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <p>Avatar : </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <p>Prénom : </p>
            </div>
            <div class="col-md-3 mb-3">
              <p>Nom : </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <p>Email : </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <p>Mot de passe : </p>
            </div>
          </div>
          <div class="cart-btn mt-50 ml-auto">
            <a href="#" class="btn amado-btn">Editer le profil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>