<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="checkout_details_area mt-50 clearfix">

          <div class="cart-title">
            <h2>Inscription</h2>
          </div>

          <form action="#" method="post">
            <div class="row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" id="first_name" value="" placeholder="Prénom" required="required">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" id="last_name" value="" placeholder="Nom" required="required">
              </div>
              <div class="col-12 mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email" value="">
              </div>

              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" id="password" placeholder="Mot de passe" value="">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" id="confirmation_password" placeholder="Confirmation mot de passe" value="">
              </div>

            </div>
            <div class="cart-btn mt-50 ml-auto">
              <a href="#" class="btn amado-btn">S'inscrire</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
